
<div class="item-box">

     <div class="img-container">
        <img src={{img_src_url}}>
    </div>

    <div class="details">
        {{#each offers}}<p>{{this}}</p>{{/each}}
         <a class="button" href={{cashback_url}} target="_blank">
            Cashback Reward
        </a>
    </div>
    
    <div class="footer">
           You must login to <a href="https://www.discover.com" target="_blank">Discover.com</a> first.
        <br/>
           No Expiry Date
    </div>

</div>

