img {
    max-height: 100px;
    max-width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-container{
    padding: 5px;
    float: left;
    width:140px;
    height: 140px;
}
.item-box {
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: 5px;
    text-align: center;
    width: 370px;
    height:190px;
}

.details{
    padding: 5px 10px;
    background: whitesmoke;
    float: right;
    text-align: center;
    width:200px;
    height: 140px;
}

a.button {
    background-color: #ff6000;
    border: 2px solid #ff6000;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

    display: inline-block;
    padding: 5px 20px 5px;
    margin:4px;
}

a.button:hover{
    background-color: darkorange;
}

.item {
    display:inline-block;
}

.footer{
    color: white;
    background: #ff6000;
    border-radius: 0px 0px 10px 10px;
    height:36px;
    padding: 2px;
    clear: both;
}

p{
    color: #5d5d5d;
    font-size: 16px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}